RewriteEngine On

# Rediriger la racine vers PHP/vues/index.php
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ PHP/vues/index.php [L]

# Réécrire les requêtes pour correspondre aux fichiers dans PHP/vues
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ PHP/vues/$1.php?action=$2 [L,QSA]